html,
body {
  margin: 0;
  font-family: "Karla", sans-serif;
  width: 100vw;
}

body {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0 2rem;
}

header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  padding: 1rem;
  width: 100%;
}

.header--logo {
  height: 100%;
}

.header--title {
  margin: 0 1rem;
}

.header--subtitle {
  margin-left: auto;
}

.form {
  padding: 1rem;
  display: grid;
  grid-template: 50px 50px / 1fr 1fr;
  gap: 20px;
}

.form input {
  height: 3rem;
  font-size: 1.5rem;
}

.form button {
  grid-column: 1 / -1;
  font-size: 1.5rem;
}

.meme {
  display: inline-block;
  min-width: 1px;
  min-height: 1px;
  position: relative;
}

.meme img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.meme--text {
  position: absolute;
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
